.rightSideBar {
    position: fixed;
    height: 100%;
    width: 17%;
    top: 0%;
    left: 83%;
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 182, 49);
    overflow-y: hidden;
    justify-content: space-between;
    overflow-x: hidden;
}

.chatContainer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.29);
    width: 95%;
    left: 2.5%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border-bottom: none;
    overflow-y: auto;

    height: 95.8%;
}

.chatContainer>div {
    display: flex;
    flex-direction: column;
}

.messageContainer:first-child {
    margin-top: auto;
}

.messageContainer {
    list-style-type: none;
    margin-left: 3px;
    margin-bottom: 3px;
}

.inputContainer {
    position: relative;
    display: flex;
    left: 2%;
}

.chatInput {
    position: relative;
    width: 95%;
    left: 0.5%;
    outline: none;
    border: rgba(0, 0, 0, 0.24) 2px solid;
    border-radius: 4px;
    height: 135%;
    bottom: 42%;
    background-color: rgba(0, 0, 0, 0.473);
    text-indent: 4%;


}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(41, 41, 41, 0.445);
    border-radius: 10px;
}